body {
  height: 500px;
  width: 500px;
  background-color: rgb(196, 205, 207);
  margin: 50px 390px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#a {
  height: 400px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  margin: 50px 40px;
  border: 0px solid black;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  /* position: absolute; */
}
#b {
  height: 150px;
  width: 150px;
  background-color: rgb(215, 223, 230);
  margin: 40px 130px;
  border-radius: 200px;
  border: 2px solid rgb(34, 226, 240);
  background-image: url(bg_21.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#d {
  margin: 165px 40px 150px 10px;
  white-space: nowrap;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
#c {
  margin: -145px -75px 0px -90px;
  /* white-space: nowrap; */
  text-align: center;
  font-size: 12px;
  /* font-weight: bold; */
}
#e {
  height: 30px;
  width: 125px;
  border-radius: 15px;
  margin: 30px -75px 0px 12px;
  background-color: rgb(66, 246, 228);
  cursor: pointer;
}
i {
  position: absolute;
  margin: -210px 12px 12px 360px;
  cursor: pointer;
}
